<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAqai4u5aJR2QT1XpDxUi0jVNGRK9kBTS8</string>
	<key>GCM_SENDER_ID</key>
	<string>995642050836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uit.nftCert</string>
	<key>PROJECT_ID</key>
	<string>uitnftcert</string>
	<key>STORAGE_BUCKET</key>
	<string>uitnftcert.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995642050836:ios:a641e8f18dd26eab4c5a01</string>
</dict>
</plist>